.lt-grid-container {
  display: grid;
  grid-template-columns: 0.6fr 3.1fr 0.6fr;
  grid-template-rows: 0.5fr 0.5fr 2fr 0.6fr 1.4fr;
  gap: 1px 1px;
  grid-template-areas: ". . ." ". lt-txtPlace ." ". lt-imgPlace ." ". . ." ". . .";
}

.lt-imgPlace {
  margin-top: 5%;
  grid-area: lt-imgPlace;
  overflow: auto;
  white-space: nowrap;
}

.lt-txtPlace {
  grid-area: lt-txtPlace;
}

#timeLine {
  height: auto;
}

#gogleStory {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

#cards {
  margin-top: 4em;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#cardHeader {
  text-align: center;
  font-family: "Roboto", sans-serif;
}
