.lt-grid-container {
  display: grid;
  grid-template-columns: 0.6fr 3.1fr 0.6fr;
  grid-template-rows: 0.5fr 0.5fr 2fr 0.6fr 1.4fr;
  gap: 1px 1px;
  grid-template-areas: ". . ." ". lt-txtPlace ." ". lt-imgPlace ." ". . ." ". . .";
}

.lt-imgPlace {
  margin-top: 5%;
  grid-area: lt-imgPlace;
  overflow: auto;
  white-space: nowrap;
}

.lt-txtPlace {
  grid-area: lt-txtPlace;
}

#timeLine {
  height: auto;
}

#gogleStory {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

#cards {
  margin-top: 4em;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#cardHeader {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.section-title {
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.content {
  margin: 5em;
  margin-top: 1em;
}
.content p {
}
.content h3 {
  font-size: 1em;
}

.projectDiv {
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
  margin: 4em;
=======
  margin-top: 4em;

>>>>>>> parent of 6498b14... Add files via upload
=======
  margin-top: 4em;

>>>>>>> parent of d10cc5e... Add files via upload
=======
>>>>>>> parent of b86ae9c... Add files via upload
  margin: 10em;
  margin-top: 1em;
}
.projectDiv p {
}
.projectDiv h2 {
  font-size: 4em;
<<<<<<< HEAD
}

.niceReads {
  margin: 15em;
  margin-top: 0em;
}

.niceReads h3 {
  font-family: "Roboto", sans-serif;

  font-size: 1.5rem;
  margin-top: 2rem;
  text-align: center;
}
.niceReads h2 {
  font-family: "Roboto", sans-serif;

  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  text-align: center;
}

.codeOfConduct {
  margin: 24rem;
  margin-top: 2rem;
}

.welcome h2 {
  font-size: 2rem;
  text-align: center;
}
.companyNews h2 {
  font-size: 3rem;
  text-align: center;
}
.companyNews {
  margin: 15rem;
  font-size: 2rem;
  text-align: center;
}
.afterlogin {
  margin-top: 0em;
  min-height: 100%;
  background-color: darkgray;
}

.profileInfo {
  margin: 20rem;
  margin-top: 0rem;
}

.profileInfo h2 {
  font-family: "Roboto", sans-serif;
  margin-bottom: 2rem;
}

#profileImg {
  margin-top: 8rem;
}

.niceReads {
  margin: 15em;
  margin-top: 0em;
}

.niceReads h3 {
  font-family: "Roboto", sans-serif;

  font-size: 1.5rem;
  margin-top: 2rem;
  text-align: center;
}
.niceReads h2 {
  font-family: "Roboto", sans-serif;

  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  text-align: center;
}

.codeOfConduct {
  margin: 24rem;
  margin-top: 2rem;
}

.welcome h2 {
  font-size: 2rem;
  text-align: center;
}
.companyNews h2 {
  font-size: 3rem;
  text-align: center;
}
.companyNews {
  margin: 15rem;
  font-size: 2rem;
  text-align: center;
}
.afterlogin {
  margin-top: 0em;
  min-height: 100%;
  background-color: darkgray;
}

.profileInfo {
  margin: 20rem;
  margin-top: 0rem;
}

.profileInfo h2 {
  font-family: "Roboto", sans-serif;
  margin-bottom: 2rem;
}

#profileImg {
  margin-top: 8rem;
=======
>>>>>>> parent of b86ae9c... Add files via upload
}
